@import "../../../../styles/variables.scss";

.days__container {
    display: flex;
    flex-direction: column;
    background: var(#{--body-background-default});
    border-radius: $border-radiusBig;
    margin-top: 20px;
    padding: 20px 0;
}

.days {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    width: 100%;
    padding: 20px 0;
    gap: 15px;
    background: var(#{--body-background-default});
    border-radius: 0 0 $border-radiusBig $border-radiusBig;
}

.card {
    display: flex;
    flex-direction: column;

    box-shadow: var(#{--box-shadow-default});
    border-radius: $border-radiusSmall;

    padding: 20px;
    width: 140px;

    transition: 0.3s;
    cursor: pointer;

    &:hover {
        background: var(#{--accent-background-default});
    }

    .card__header {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        justify-content: space-between;

        &::after {
            content: "";
            margin-top: 8px;
            width: 80%;
            height: 2px;
            background-color: var(#{--hr-color-default});
        }
        .day {
            font-size: $font-size-RegularH3;
            padding: 0;
            color: var(#{--font-accent-default});
        }

        .day__info {
            text-align: center;
            padding: 0;
            font-size: $font-size-Regular;
            color: var(#{--font-secondary-default});
        }
    }
}

.card__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-top: 15px;

    .info_degree {
        margin-top: 4px;

        .day__temp_day {
            font-size: $font-size-RegularH2;
            color: var(#{--font-primary-default});
        }

        .day__temp_night {
            font-size: $font-size-RegularH3;
            color: var(#{--font-secondary-default});
        }

        span {
            font-size: 1rem;
        }
    }
}

.days__loadmore {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.button {
    background: var(#{--body-background-default});
    box-shadow: var(#{--box-shadow-default});
    border-radius: $border-radiusSmall;
    border: none;
    font-size: $font-size-RegularH3;
    padding: 8px 50px;
    cursor: pointer;

    color: var(#{--font-accent-default});

    &:active {
        transform: translateY(2px);
        color: #fff;
        background: var(#{--font-accent-default});
    }

    &:hover {
        color: #fff;
        background: var(#{--font-accent-default});
        box-shadow: var(#{--box-shadowIcon-default});
    }
}

@media screen and (max-width: $mobile-width) {
    .tabs {
        justify-content: space-around;
    }

    .days {
        align-items: center;
        gap: 24px;
    }

    .card {
        width: 100%;
        margin: 0px 20px;
    }
}
