@import "../../styles/variables.scss";

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    padding: 44px 32px;
    max-width: 750px;
    width: 100%;

    box-shadow: var(#{--box-shadow-default});
    border-radius: $border-radiusBig;
    background: var(#{--body-background-default});

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    svg {
        transition: 0.3s;
    }
    &:hover {
        svg {
            transform: rotate(360deg);
        }
    }
}

.blur {
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;

    backdrop-filter: blur(0.5px);
    background: rgba($color: #000000, $alpha: 0.25);
}

.this__day_info_items {
    display: flex;
    flex-direction: column;
    gap: 15px 0;
}

.day {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;

    .day__temp {
        font-weight: 500;
        margin-bottom: 12px;
        color: var(#{--font-accent-default});
        font-size: 6rem;
    }

    .day__name {
        font-size: $font-size-RegularH2;
        color: var(#{--font-primary-default});
    }
}

@media screen and (max-width: $mobile-width) {
    .popup {
        flex-direction: column;
        width: 95%;
        gap: 15px 0;
    }
}
