@import "../../../../styles/variables.scss";

.this__day {
    width: 400px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background: var(#{--body-background-default});
    box-shadow: var(#{--box-shadow-default});
    border-radius: $border-radiusBig;
}

.this__day__temperature {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .this__day__degree {
        color: var(#{--font-accent-default});
        margin: 0;
        font-size: 6rem;
    }

    .this__day__icon {
        display: flex;
        margin-right: 20px;
        svg {
            width: 80px;
            height: 80px;
        }
    }
}

.this__day__today {
    margin: 0;
    margin: 4px 0;

    font-size: 2.5rem;
    color: var(#{--font-primary-default});
}

.this__day__date {
    color: var(#{--font-secondary-default});
    font-size: 1.5rem;

    span {
        color: var(#{--font-accent-default});
    }
}
