$light-background: #fff;
$light-box-shadow: 2px 5px 15px 10px rgb(224, 224, 224, 0.5);
$light-box-shadow2: rgba(0, 0, 0, 0.24) 0px 1px 4px;

$border-radiusBig: 20px;

$border-radiusSmall: 10px;

$light-font-primary: #333333;
$light-font-secondary: #939cb0;
$light-font-accent: #77b0ff;

$font-size-Regular: 0.875rem;
