@import "../../../src/styles/variables.scss";

.home {
    font-size: 30px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    gap: 0 20px;
}

.home__toast_modal {
    font-size: $font-size-Regular;
    --toastify-color-dark: #{$dark-background-accent};
    --toastify-color-light: #{$light-background};
}

@media screen and (max-width: $mobile-width) {
    .wrapper {
        flex-direction: column;
        gap: 20px 0;
    }

    .home__toast_modal {
        height: 25px;
        width: 70%;
        margin: auto;
        margin-top: 30px;
    }
}
