@import "../../../src/styles/variables.scss";

.home {
    font-size: 30px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: $mobile-width) {
    .wrapper {
        flex-direction: column;
    }
}
