@import "../../../../styles/variables.scss";

.this__day__info {
    position: relative;
    padding: 44px 32px;
    max-width: 750px;
    width: 100%;

    box-shadow: var(#{--box-shadow-default});
    border-radius: $border-radiusBig;
    background: var(#{--body-background-default});

    display: flex;
    flex-direction: column;
    gap: 20px 0;
}

.item {
    position: relative;
    display: flex;
    align-items: center;

    .indicator__icon {
        width: 35px;
        height: 35px;

        display: flex;
        align-items: center;

        margin-right: 20px;
        justify-content: center;
        background: var(#{--body-background-default});
        border-radius: 50%;
        box-shadow: var(#{--box-shadowIcon-default});
    }

    .indicator__name {
        width: 100px;
        font-size: $font-size-Regular;
        color: var(#{--font-accent-default});

        font-weight: 500;
    }

    .indicator__value {
        font-size: $font-size-Regular;
        color: var(#{--font-primary-default});
        overflow-wrap: break-word;
    }
}

@media screen and (max-width: $mobile-width) {
    .this__day__info {
        width: 90%;
        margin: auto;
        padding: 20px;
    }

    .item {
        flex-direction: row;
        justify-content: space-between;
        place-items: start;
        display: flex;
        gap: 20px;

        .indicator__icon {
            display: none;
        }

        .indicator__name {
            font-size: 16px;
            color: var(#{--font-accent-default});

            font-weight: 500;
        }
    }
}
