@import "../../../../styles/variables.scss";

.this__day__info {
    position: relative;
    padding: 44px 32px;
    max-width: 750px;
    width: 100%;

    box-shadow: var(#{--box-shadow-default});
    border-radius: $border-radiusBig;
    background: var(#{--body-background-default});

    display: flex;
    flex-direction: column;
    gap: 20px 0;
}

.item {
    position: relative;
    display: flex;
    align-items: center;

    .indicator__icon {
        width: 38px;
        height: 38px;

        display: flex;
        align-items: center;

        margin-right: 20px;
        justify-content: center;
        background: var(#{--body-background-default});
        border-radius: 50%;
        box-shadow: var(#{--box-shadowIcon-default});
    }

    .indicator__name {
        width: 100px;
        font-size: $font-size-Regular;
        color: var(#{--font-accent-default});
    }

    .indicator__value {
        font-size: $font-size-Regular;
        color: var(#{--font-primary-default});
    }
}
