@import "../../../src/styles/variables.scss";

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 40px;
}

.wrapper {
    display: flex;
    align-items: center;
}

.wrapperInput {
    display: flex;
    align-items: center;
    gap: 0 12px;
}

.logo {
    display: flex;
}

.theme__icon {
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--font-accent-default);
    border-radius: 50%;
    transition: 0.3s;

    cursor: pointer;
}

.title {
    margin-left: 16px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 2rem;
    color: var(#{--font-primary-default});
}

.select__label {
    color: var(#{--font-primary-default});
    margin-bottom: 13px;
    margin-top: 16px;
}

.input {
    background: var(#{--accent-background-default});
    color: var(#{--font-primary-default});
    border-radius: $border-radiusSmall;
    height: 39px;
    padding-left: 5px;
    border: 1.5px solid var(#{--font-accent-default});
    outline: none;
}

.button {
    background: var(#{--body-background-default});
    box-shadow: var(#{--box-shadow-default});
    border-radius: $border-radiusSmall;
    border: none;
    padding: 8px 10px;
    cursor: pointer;

    color: var(#{--font-accent-default});

    &:active {
        transform: translateY(2px);
        color: #fff;
        background: var(#{--font-accent-default});
    }

    &:hover {
        color: #fff;
        background: var(#{--font-accent-default});
        box-shadow: var(#{--box-shadowIcon-default});
    }
}

@media screen and (max-width: $mobile-width) {
    .header {
        flex-direction: column;
    }
}
